<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Bus Booking</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <h1>Online Bus Booking System</h1>

    <a href="/register">
        <button>User Register</button>
    </a>

    <a href="/login">
        <button>User Login</button>
    </a>

    <a href="/addbus">
        <button>Add Bus</button>
    </a>

    <a href="/booking">
        <button>Book Ticket</button>
    </a>

    <a href="/buses">
        <button>View All Buses</button>
    </a>

    <a href="/bookings">
        <button>View All Bookings</button>
    </a>

    <a href="/search">
        <button>Search Bus</button>
    </a>

    <a href="/history">
        <button>Booking History</button>
    </a>

</div>

</body>
</html>