<!DOCTYPE html>
<html>

<head>

    <title>User Register</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container">

    <h2>User Registration</h2>

    <form action="/saveUser" method="post">

        <input type="text"
               name="name"
               placeholder="Enter Name">

        <input type="email"
               name="email"
               placeholder="Enter Email">

        <input type="text"
               name="phone"
               placeholder="Enter Phone">

        <input type="password"
               name="password"
               placeholder="Enter Password">

        <button type="submit">
            Register
        </button>

    </form>

</div>

</body>
</html>