<!DOCTYPE html>
<html>

<head>

    <title>Add Bus</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container">

    <h2>Add Bus Details</h2>

    <form action="/saveBus" method="post">

        <input type="text"
               name="busName"
               placeholder="Enter Bus Name">

        <input type="text"
               name="busNumber"
               placeholder="Enter Bus Number">

        <input type="text"
               name="source"
               placeholder="Enter Source">

        <input type="text"
               name="destination"
               placeholder="Enter Destination">

        <input type="text"
               name="departureTime"
               placeholder="Enter Departure Time">

        <input type="number"
               name="price"
               placeholder="Enter Ticket Price">

        <button type="submit">
            Add Bus
        </button>

    </form>

</div>

</body>
</html>